<aside class="menu">
  <ul class="menu-list">
    <li><a class="is-active">Visão Geral</a></li>
    <li><a>Explorar</a></li>
    <li><a>Aprendizado</a></li>
    <li><a>Avisos</a></li>
    <li><a>Planejamento</a></li>
  </ul>
</aside>