<div class="column is-one-quarter">
	<article class="media box">
		<figure class="media-left">
			<p class="image is-64x64">
				<img src="https://images.vexels.com/media/users/3/154555/isolated/preview/90ad55ae3d401c512fcac46846d2022d-hand-drawn-circle-icon-by-vexels.png"></img>
			</p>		
		</figure>
		<div class="media-content">
			<strong>Muito bom</strong>
			<p>Aprendeu 5 coisas novas</p>
		</div>
	</article>
</div>